<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.gocli.core.dao.AccountDao">
    <select id="getInfo" resultType="run.gocli.admin.vo.AccountVo">
       SELECT a.account_id, a.avatar, a.username, d.dept_name
         FROM lea_account a
    LEFT JOIN lea_dept d on d.dept_id = a.dept_id
        WHERE a.account_id = #{accountId}
          AND a.del_flag = 0
    </select>

    <select id="getAccountList" resultType="run.gocli.admin.vo.AccountListVo">
        SELECT a.account_id, a.username, a.avatar, a.create_time, a.status, a.update_time, d.dept_name, a.dept_id FROM lea_account a
        LEFT JOIN lea_account_role ar on ar.account_id = a.account_id
        LEFT JOIN lea_dept d on d.dept_id = a.dept_id
        WHERE a.del_flag = 0
        <if test="username != null and username != ''">
            AND a.username LIKE CONCAT("%",#{username},"%")
        </if>
        <if test="deptId != null">
            AND a.dept_id = #{deptId}
        </if>
        GROUP BY a.account_id
        ORDER BY a.account_id DESC
    </select>

    <select id="getApis" resultType="java.lang.String">
        SELECT CONCAT(m.method, ":", m.flag) as auth FROM lea_account a
    INNER JOIN lea_account_role ar on ar.account_id = a.account_id
    INNER JOIN lea_role_menu rm on rm.role_id = ar.role_id
    INNER JOIN lea_menu m on m.menu_id = rm.menu_id
        WHERE a.account_id = #{accountId} AND m.type = 2 AND m.del_flag = 0
        GROUP BY rm.menu_id
    </select>
</mapper>
